<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add an student</title>
</head>
<body>

<h1>Add a new student to House</h1>
  <form action="/houses/:house_id/students" method="POST">
    <label for="name">Name:</label>
    <input type="type" name="name" autofocus><br>
    <label for="age"> age:</label>
    <input type="type" name="age" autofocus><br>
    <label for="patronus"> patronus:</label>
    <input type="type" name="patronus" autofocus><br>
    <input type="submit" value="Add student">
  </form>

</body>
</html>